<%- include("partials/header.ejs") %>
<div id="home_about">
<div id="home_article" class="">
    <p><span style=" font-weight:bold ">Welcome to Footsetps and Flights!</span> This blog is a space for sharing travel stories from people of all walks of life. You won’t find traditional titles here—each post is a unique journey where the destination is revealed at the end. We believe that travel experiences are best enjoyed without preconceived notions, allowing the story itself to unfold naturally.</p>

<p><span style=" font-weight:bold ">Here’s what you can expect:</span></p>
<ul>
    <li>Read authentic travel experiences shared by users from all over the world, with each post offering a personal perspective.</li>
    <li>Engage with others' stories, discovering different places only as you immerse yourself in the traveler’s journey.</li>
    <li>Contribute your own adventures by using the "Post" button to share where you've been and what you've experienced.</li>
</ul>

<p><span style=" font-weight:bold ">Use the buttons on the left to:</span></p>
<ul>
    <li>Reach out via the Contact page for any questions, feedback, or suggestions.</li>
    <li>Share your travel story through the Post button and inspire others with your adventures.</li>
</ul>

<p>Enjoy the stories and explore the world through the eyes of fellow travelers!</p>

</div>
</div>


  <%- include("partials/footer.ejs") %>