*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
}

.main-content{
    display:flex;
}

#sidebar{
    position:fixed;
}

#contentBesidesSidebar{
    margin-left:390px;
    margin-top:170px;
    margin-right:300px;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* border:3px solid red; */
}

#floatingInput, #floatingPassword{
    width:100%;
}

#form{
    width:800px;
}

#postInput{
    height:30%;
}


article{
    width:1000px;
    padding:40px;
    white-space: pre-wrap;
}

#formDiv{
    margin-bottom:50px;
    
}

#byAuthor{
    margin-top:50px;
    font-weight:bold;
}

#editBtn{
    margin-right:10px;
}

#buttons{
    display:flex;
    
}

#home_h1{
    margin-bottom:50px;
}

#home_article{
    width:1000px;
    padding:40px;
    font-size:25px;
}

#home_article p{
}

#home_article ul{

}